<div id="container">
  <div class="navbar">
    <app-header
      title="עדכון אזורי התפרצות קורונה"
      [icon]="virusIcon"
    ></app-header>
  </div>
  <div class="map">
    <button
      (click)="toggleAddMode()"
      mat-fab
      color="primary"
      style="
        position: absolute;
        top: 3vh;
        bottom: auto;
        left: 1vw;
        z-index: 10;
        font-size: 1.5em;
      "
    >
      <fa-icon [icon]="plusIcon"></fa-icon>
    </button>
    <app-map (openEditWindowEvent)="turnOnEditMode()"></app-map>
    <button
      (click)="update()"
      mat-fab
      color="primary"
      style="
        position: absolute;
        top: auto;
        bottom: 3vh;
        left: 1vw;
        z-index: 10;
        font-size: 1.3em;
      "
    >
      עדכן
    </button>
  </div>
  <div id="scrollsContainer">
    <div class="scroll">
      <app-header class="scrollHeader" title="מקומות חדשים להוספה"></app-header>
      <app-add-new-marker
        (closeAddWindowEvent)="turnOffAddMode()"
        *ngIf="editDetails"
      ></app-add-new-marker>
      <app-marker-details
        *ngIf="showDetails() && !editDetails"
      ></app-marker-details>
    </div>
    <div class="scroll">
      <app-header class="scrollHeader" title="מקומות שמורים"></app-header>
      <app-scroller></app-scroller>
    </div>
  </div>
</div>
