<div id="container">
  <div class="navbar">
    <app-header
      title="עדכון אזורי התפרצות קורונה"
      [icon]="virusIcon"
    ></app-header>
  </div>
  <div class="map">
    <button
      (click)="toggleAddMode()"
      mat-fab
      color="primary"
      class="floatingButton"
      id="addButton"
    >
      <fa-icon [icon]="plusIcon"></fa-icon>
    </button>
    <app-map (openEditWindowEvent)="turnOnEditMode()"></app-map>
    <button
      (click)="update()"
      mat-fab
      color="primary"
      id="updateBotton"
      class="floatingButton"
    >
      עדכן
    </button>
  </div>
  <div id="scrollsContainer">
    <div class="scroll">
      <app-header class="scrollHeader" title="מקומות חדשים להוספה"></app-header>
      <app-add-new-marker
        (closeAddWindowEvent)="turnOffAddMode()"
        *ngIf="editDetails"
      ></app-add-new-marker>
      <app-marker-details
        *ngIf="currentItem && !editDetails"
      ></app-marker-details>
    </div>
    <div class="scroll">
      <app-header class="scrollHeader" title="מקומות שמורים"></app-header>
      <app-scroller></app-scroller>
    </div>
  </div>
</div>
